<!-- <h1 [class.gray]="h1Style" >Home</h1> -->
<!-- gray should only be attached to the h1 element if the property h1Style results to true. -->

<!-- for aplying multip;le classes -->
<!-- <h1 [ngClass]="{
  'gray': h1Style,
  'large': !h1Style
}">Home</h1> -->

<!-- changing the styles directly from within the template. -->
<!-- <h1 [style.color]="h1Style ? 'gray': 'black'">Home</h1> -->
<h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black',
  'font-size': !h1Style ? '1em' : '4em'
}">Home</h1>

<h1>Users</h1>
<div id="content">
<ul>
  <li *ngFor="let user of user">
    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

    <ul>
      <li>{{ user.email }}</li>
      <li></li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  
  </li>
</ul>
</div>
<button (click)="firstClick()">Click me</button>